.ActiveTest {
    padding: 5px 20px 20px 20px;
    color: white;
    border: 2px solid #fff;
    background-repeat: 5px;
    margin: 0 10px;
    box-sizing: border-box;
}


.Question {
    display: flex;
    justify-content: space-between;
}

.Question .question {
    padding-top: 15px;
}

.Small {
    min-width: 50px
}